{
  "openapi": "3.0.3",
  "info": {
    "title": "FranklinWH Cloud API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://energy.franklinwh.com"
    }
  ],
  "paths": {
    "/hes-gateway/terminal/initialize/appUserOrInstallerLogin": {
      "post": {
        "summary": "Generated POST /hes-gateway/terminal/initialize/appUserOrInstallerLogin",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "integer"
                        },
                        "email": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        },
                        "failureVersion": {
                          "nullable": true
                        },
                        "distributorId": {
                          "nullable": true
                        },
                        "installerId": {
                          "nullable": true
                        },
                        "passwordUpdateFlag": {
                          "type": "integer"
                        },
                        "userTypes": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "currentType": {
                          "type": "integer"
                        },
                        "surveyFlag": {
                          "type": "integer"
                        },
                        "serviceVoltageFlag": {
                          "nullable": true
                        },
                        "ninetyDaysPwdUpdate": {
                          "type": "integer"
                        },
                        "roles": {
                          "type": "array",
                          "items": {}
                        },
                        "affiliateCompany": {
                          "type": "array",
                          "items": {}
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/newApi/api-user/app/resource/getUserResources/v2": {
      "get": {
        "summary": "Generated GET /hes-gateway/newApi/api-user/app/resource/getUserResources/v2",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "nullable": true
                        },
                        "roleResources": {
                          "type": "array",
                          "items": {}
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/common/selectDeviceRunLogList": {
      "get": {
        "summary": "Generated GET /hes-gateway/common/selectDeviceRunLogList",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alarmCode": {
                            "type": "string"
                          },
                          "logName": {
                            "type": "string"
                          },
                          "enLogName": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/getAppGlobalConfig": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/getAppGlobalConfig",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "entrance": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "show": {
                                "type": "boolean"
                              },
                              "key": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "tip": {
                          "nullable": true
                        },
                        "isAppVersion1User": {
                          "type": "boolean"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/feedback/whetherPopUp": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/feedback/whetherPopUp",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "upFlag": {
                          "type": "boolean"
                        },
                        "generalTitle": {
                          "nullable": true
                        },
                        "ratingTitle": {
                          "nullable": true
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/getHomeGatewayList": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/getHomeGatewayList",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "integer"
                          },
                          "connType": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "loadOption": {
                            "type": "integer"
                          },
                          "gerOption": {
                            "type": "integer"
                          },
                          "groupId": {
                            "nullable": true
                          },
                          "groupName": {
                            "nullable": true
                          },
                          "groupFlag": {
                            "type": "integer"
                          },
                          "account": {
                            "type": "string"
                          },
                          "protocolVer": {
                            "type": "string"
                          },
                          "version": {
                            "type": "string"
                          },
                          "address": {
                            "nullable": true
                          },
                          "activeStatus": {
                            "type": "integer"
                          },
                          "simCardStatus": {
                            "type": "integer"
                          },
                          "activeTime": {
                            "type": "integer"
                          },
                          "installTime": {
                            "nullable": true
                          },
                          "createTime": {
                            "type": "integer"
                          },
                          "realSysHdVersion": {
                            "type": "string"
                          },
                          "sysHdVersion": {
                            "type": "string"
                          },
                          "zoneInfo": {
                            "type": "string"
                          },
                          "deviceTime": {
                            "type": "string"
                          },
                          "countryId": {
                            "type": "integer"
                          },
                          "provinceId": {
                            "type": "integer"
                          },
                          "benefitShowFlag": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/common/getPowerCapConfigList": {
      "get": {
        "summary": "Generated GET /hes-gateway/common/getPowerCapConfigList",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "modelName": {
                            "type": "string"
                          },
                          "peHwVersion": {
                            "type": "integer"
                          },
                          "ratedCap": {
                            "type": "integer"
                          },
                          "chargePower": {
                            "type": "integer"
                          },
                          "dischargePower": {
                            "type": "integer"
                          },
                          "derateFlag": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/appObtainAdvertiseLst": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/appObtainAdvertiseLst",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {}
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/selectTerPushMessageUnreadCount": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/selectTerPushMessageUnreadCount",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/nps/getNpsShowTip": {
      "post": {
        "summary": "Generated POST /hes-gateway/terminal/nps/getNpsShowTip",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "joinFlag": {
                          "type": "integer"
                        },
                        "showTipFlag": {
                          "type": "integer"
                        },
                        "firstFlag": {
                          "type": "integer"
                        },
                        "expired": {
                          "type": "integer"
                        },
                        "activityId": {
                          "type": "integer"
                        },
                        "tipContent": {
                          "nullable": true
                        },
                        "showStatisticsFlag": {
                          "type": "integer"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/updateTerUserFcmToken": {
      "post": {
        "summary": "Generated POST /hes-gateway/terminal/updateTerUserFcmToken",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/tou/getGatewayTouListV2": {
      "post": {
        "summary": "Generated POST /hes-gateway/terminal/tou/getGatewayTouListV2",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "currendId": {
                          "type": "integer"
                        },
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "oldIndex": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "soc": {
                                "type": "number",
                                "format": "float"
                              },
                              "maxSoc": {
                                "type": "number",
                                "format": "float"
                              },
                              "minSoc": {
                                "type": "number",
                                "format": "float"
                              },
                              "dischargeDepthSoc": {
                                "nullable": true
                              },
                              "editSocFlag": {
                                "type": "boolean"
                              },
                              "multiSOCFlag": {
                                "type": "boolean"
                              },
                              "workMode": {
                                "type": "integer"
                              },
                              "energyIncentivesType": {
                                "type": "integer"
                              },
                              "electricityType": {
                                "type": "integer"
                              },
                              "displayFlag": {
                                "nullable": true
                              }
                            }
                          }
                        },
                        "stromEn": {
                          "type": "integer"
                        },
                        "sgipFlag": {
                          "type": "integer"
                        },
                        "itcFlag": {
                          "type": "integer"
                        },
                        "stopMode": {
                          "type": "integer"
                        },
                        "gridChargeEn": {
                          "type": "integer"
                        },
                        "touSendStatus": {
                          "nullable": true
                        },
                        "touAlertMessage": {
                          "nullable": true
                        },
                        "backupForeverFlag": {
                          "type": "integer"
                        },
                        "timerEndTime": {
                          "type": "string"
                        },
                        "timerEndTimeZero": {
                          "type": "string"
                        },
                        "timerStartTime": {
                          "type": "string"
                        },
                        "timerStartTimeZero": {
                          "type": "string"
                        },
                        "zoneInfo": {
                          "type": "string"
                        },
                        "nextWorkMode": {
                          "type": "integer"
                        },
                        "todayVppVo": {
                          "type": "object",
                          "properties": {
                            "programFlag": {
                              "nullable": true
                            },
                            "vppStatus": {
                              "nullable": true
                            },
                            "vppId": {
                              "nullable": true
                            },
                            "vppFlag": {
                              "type": "integer"
                            },
                            "startTime": {
                              "nullable": true
                            },
                            "endTime": {
                              "nullable": true
                            },
                            "showVppTipFlag": {
                              "type": "boolean"
                            }
                          }
                        },
                        "tariffSettingFlag": {
                          "type": "boolean"
                        },
                        "vppSocVo": {
                          "type": "object",
                          "properties": {
                            "vppSoc": {
                              "type": "number",
                              "format": "float"
                            },
                            "vppMinSoc": {
                              "type": "number",
                              "format": "float"
                            },
                            "vppMaxSoc": {
                              "type": "number",
                              "format": "float"
                            },
                            "vppSocDisplayFlag": {
                              "type": "boolean"
                            },
                            "vppType": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-energy/electric/getFhpElectricData": {
      "get": {
        "summary": "Generated GET /api-energy/electric/getFhpElectricData",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "deviceTimeArray": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "kwhSuArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhGenArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhUtiInArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhUtiOutArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhFhpChgArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhFhpDiArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhLoadArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhGridLoadArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhSolarLoadArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhFhpLoadArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhGenLoadArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "gridChBatArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "batOutGridArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "genChBatArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "soChBatArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "soOutGridArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "proximalSolarWhArray": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "mpptWhArray": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "remoteSolarWhTotalArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "meterkitPvWhArray": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "secondaryPvWhArray": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "mpanPv1Wh": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "mpanPv2Wh": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "apbox20PvWh": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "kwhV2lArray": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "kwhV2lToFhpArray": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        },
                        "kwhV2lToHomeArray": {
                          "type": "array",
                          "items": {
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/chargePowerDetails": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/chargePowerDetails",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "batterySoc": {
                          "type": "number",
                          "format": "float"
                        },
                        "touMinSoc": {
                          "type": "integer"
                        },
                        "currentStateDuration": {
                          "type": "number",
                          "format": "float"
                        },
                        "highEnergyConsumption": {
                          "type": "number",
                          "format": "float"
                        },
                        "averageEnergyConsumption": {
                          "type": "number",
                          "format": "float"
                        },
                        "currentTime": {
                          "type": "string"
                        },
                        "highEnergyTime": {
                          "type": "string"
                        },
                        "averageTime": {
                          "type": "string"
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/weather/getProgressingStormList": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/weather/getProgressingStormList",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "nullable": true
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/getDeviceInfoV2": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/getDeviceInfoV2",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "gatewayId": {
                          "type": "string"
                        },
                        "date": {
                          "type": "string"
                        },
                        "deviceTime": {
                          "type": "string"
                        },
                        "countryId": {
                          "type": "integer"
                        },
                        "provinceId": {
                          "type": "integer"
                        },
                        "offGirdFlag": {
                          "type": "integer"
                        },
                        "sysHdVersion": {
                          "type": "string"
                        },
                        "sysHdVersionInt": {
                          "type": "integer"
                        },
                        "realSysHdVersion": {
                          "type": "string"
                        },
                        "protocolVer": {
                          "type": "string"
                        },
                        "installerId": {
                          "type": "integer"
                        },
                        "serviceVoltageFlag": {
                          "nullable": true
                        },
                        "offMessage": {
                          "nullable": true
                        },
                        "genEn": {
                          "type": "integer"
                        },
                        "chooseFinancierId": {
                          "type": "integer"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "fhpSn": {
                          "type": "string"
                        },
                        "gridPhaseConSet": {
                          "nullable": true
                        },
                        "activeStatus": {
                          "type": "integer"
                        },
                        "emsDeviceVer": {
                          "type": "integer"
                        },
                        "solarFlag": {
                          "type": "boolean"
                        },
                        "solarTipMsg": {
                          "type": "string"
                        },
                        "v2lModeEnable": {
                          "nullable": true
                        },
                        "v2lRunState": {
                          "nullable": true
                        },
                        "newHomeFlag": {
                          "nullable": true
                        },
                        "sleepStatus": {
                          "nullable": true
                        },
                        "zoneInfo": {
                          "type": "string"
                        },
                        "peHwVerList": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "fixedPowerTotal": {
                          "type": "number",
                          "format": "float"
                        },
                        "fixedPowerAverage": {
                          "type": "number",
                          "format": "float"
                        },
                        "totalCap": {
                          "type": "number",
                          "format": "float"
                        },
                        "apowerList": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "ratedPwr": {
                                "type": "integer"
                              },
                              "rateBatCap": {
                                "type": "integer"
                              }
                            }
                          }
                        },
                        "blackSleepFlag": {
                          "type": "boolean"
                        },
                        "mpptEnFlag": {
                          "type": "boolean"
                        },
                        "apbox20Num": {
                          "nullable": true
                        },
                        "equipType": {
                          "nullable": true
                        },
                        "msaInstallStartDetectTime": {
                          "nullable": true
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/selectProgramFlag": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/selectProgramFlag",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "flag": {
                          "type": "integer"
                        },
                        "postcode": {
                          "nullable": true
                        },
                        "province": {
                          "nullable": true
                        },
                        "city": {
                          "nullable": true
                        },
                        "programList": {
                          "nullable": true
                        },
                        "address1": {
                          "nullable": true
                        },
                        "address2": {
                          "nullable": true
                        },
                        "userPhoneNumber": {
                          "nullable": true
                        },
                        "firstName": {
                          "nullable": true
                        },
                        "lastName": {
                          "nullable": true
                        },
                        "registerGuideDesc": {
                          "nullable": true
                        },
                        "registerStartDate": {
                          "nullable": true
                        },
                        "registerEndDate": {
                          "nullable": true
                        },
                        "showRegisterBanner": {
                          "type": "boolean"
                        },
                        "vppBannerDetail": {
                          "nullable": true
                        },
                        "programIdList": {
                          "nullable": true
                        },
                        "programId": {
                          "nullable": true
                        },
                        "programName": {
                          "nullable": true
                        },
                        "partnerName": {
                          "nullable": true
                        },
                        "partnerId": {
                          "nullable": true
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/bill/electric/selectBenefitInfo": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/bill/electric/selectBenefitInfo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "fuelConversion": {
                          "type": "integer"
                        },
                        "evMileageConversion": {
                          "type": "integer"
                        },
                        "treeConversion": {
                          "type": "integer"
                        },
                        "carbonReduction": {
                          "type": "integer"
                        },
                        "batFeedEarnList": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "batLoadEarnModList": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "batLoadEarnList": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "solarFeedEarnList": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "solarLoadEarnList": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "solarToHouseList": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "solarToGridList": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "apowerToHouseList": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "apowerToGridList": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "dayTimeList": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "currency": {
                          "nullable": true
                        },
                        "priceFlag": {
                          "type": "boolean"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/weather/getCurrentBriefWeather": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/weather/getCurrentBriefWeather",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "secondaryType": {
                          "type": "integer"
                        },
                        "description": {
                          "type": "string"
                        },
                        "isDayTime": {
                          "type": "boolean"
                        },
                        "dayIconUrl": {
                          "type": "string"
                        },
                        "nightIconUrl": {
                          "type": "string"
                        },
                        "thunderFlag": {
                          "type": "integer"
                        },
                        "rainFlag": {
                          "type": "integer"
                        },
                        "snowyFlag": {
                          "type": "integer"
                        },
                        "tempC": {
                          "type": "number",
                          "format": "float"
                        },
                        "tempF": {
                          "type": "number",
                          "format": "float"
                        },
                        "sunriseTime": {
                          "nullable": true
                        },
                        "sunsetTime": {
                          "nullable": true
                        },
                        "shortForecast": {
                          "nullable": true
                        },
                        "probabilityOfPrecipitation": {
                          "nullable": true
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/message/selectMessage": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/message/selectMessage",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "nullable": true
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/getShowTip": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/getShowTip",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "activityId": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "integer"
                        },
                        "tipContent": {
                          "nullable": true
                        },
                        "showTipFlag": {
                          "type": "integer"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/getDeviceCompositeInfo": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/getDeviceCompositeInfo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "currentWorkMode": {
                          "type": "integer"
                        },
                        "deviceStatus": {
                          "type": "integer"
                        },
                        "runtimeData": {
                          "type": "object",
                          "properties": {
                            "mode": {
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "electricity_type": {
                              "type": "integer"
                            },
                            "run_status": {
                              "type": "integer"
                            },
                            "report_type": {
                              "type": "integer"
                            },
                            "infi_status": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "fhpSn": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "p_uti": {
                              "type": "number",
                              "format": "float"
                            },
                            "p_sun": {
                              "type": "number",
                              "format": "float"
                            },
                            "p_gen": {
                              "type": "number",
                              "format": "float"
                            },
                            "p_fhp": {
                              "type": "number",
                              "format": "float"
                            },
                            "p_load": {
                              "type": "number",
                              "format": "float"
                            },
                            "kwh_uti_in": {
                              "type": "number",
                              "format": "float"
                            },
                            "kwh_uti_out": {
                              "type": "number",
                              "format": "float"
                            },
                            "kwh_sun": {
                              "type": "number",
                              "format": "float"
                            },
                            "kwh_gen": {
                              "type": "number",
                              "format": "float"
                            },
                            "kwh_fhp_di": {
                              "type": "number",
                              "format": "float"
                            },
                            "kwh_fhp_chg": {
                              "type": "number",
                              "format": "float"
                            },
                            "kwh_load": {
                              "type": "number",
                              "format": "float"
                            },
                            "soc": {
                              "type": "number",
                              "format": "float"
                            },
                            "t_amb": {
                              "type": "number",
                              "format": "float"
                            },
                            "main_sw": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "pro_load": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "pe_stat": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "doStatus": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "bms_work": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "di": {
                              "type": "array",
                              "items": {
                                "type": "integer"
                              }
                            },
                            "cd_alm": {
                              "nullable": true
                            },
                            "ent": {
                              "nullable": true
                            },
                            "signal": {
                              "type": "integer"
                            },
                            "sharp": {
                              "nullable": true
                            },
                            "peak": {
                              "nullable": true
                            },
                            "flat": {
                              "nullable": true
                            },
                            "valley": {
                              "nullable": true
                            },
                            "elecnet_state": {
                              "type": "integer"
                            },
                            "slaver_stat": {
                              "type": "integer"
                            },
                            "solarSupply": {
                              "type": "number",
                              "format": "float"
                            },
                            "p_use": {
                              "type": "number",
                              "format": "float"
                            },
                            "fhpSoc": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "float"
                              }
                            },
                            "fhpPower": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "float"
                              }
                            },
                            "genEn": {
                              "nullable": true
                            },
                            "genStat": {
                              "type": "integer"
                            },
                            "kwhSolarLoad": {
                              "type": "integer"
                            },
                            "kwhGridLoad": {
                              "type": "integer"
                            },
                            "kwhFhpLoad": {
                              "type": "integer"
                            },
                            "kwhGenLoad": {
                              "type": "integer"
                            },
                            "wifiSignal": {
                              "type": "integer"
                            },
                            "connType": {
                              "type": "integer"
                            },
                            "solarPower": {
                              "type": "integer"
                            },
                            "remoteSolar1Power": {
                              "type": "integer"
                            },
                            "remoteSolar2Power": {
                              "type": "integer"
                            },
                            "remoteSolarEn": {
                              "type": "integer"
                            },
                            "gridChBat": {
                              "type": "number",
                              "format": "float"
                            },
                            "soOutGrid": {
                              "type": "number",
                              "format": "float"
                            },
                            "soChBat": {
                              "type": "number",
                              "format": "float"
                            },
                            "batOutGrid": {
                              "type": "number",
                              "format": "float"
                            },
                            "threePhasePvPower": {
                              "type": "integer"
                            },
                            "offgridreason": {
                              "nullable": true
                            },
                            "v2lModeEnable": {
                              "nullable": true
                            },
                            "v2lRunState": {
                              "nullable": true
                            },
                            "mpptAllPower": {
                              "nullable": true
                            },
                            "apbox20Pv": {
                              "nullable": true
                            },
                            "completeInstallFlag": {
                              "type": "integer"
                            },
                            "timestamp": {
                              "type": "integer"
                            },
                            "mpanPv1Wh": {
                              "nullable": true
                            },
                            "mpanPv2Wh": {
                              "nullable": true
                            },
                            "DSPNEMPVPower": {
                              "nullable": true
                            },
                            "mPanPv1Power": {
                              "nullable": true
                            },
                            "mPanPv2Power": {
                              "nullable": true
                            },
                            "mpptSta": {
                              "nullable": true
                            },
                            "mpptActPower": {
                              "nullable": true
                            },
                            "bms_heat_state": {
                              "nullable": true
                            },
                            "msaInstallStartDetectTime": {
                              "nullable": true
                            }
                          }
                        },
                        "solarHaveVo": {
                          "type": "object",
                          "properties": {
                            "remoteSolarEn": {
                              "type": "integer"
                            },
                            "remoteSolarMode": {
                              "type": "integer"
                            },
                            "dspNemPvEn": {
                              "type": "integer"
                            },
                            "pvSplitCtEn": {
                              "type": "integer"
                            },
                            "gridSplitCtEn": {
                              "type": "integer"
                            },
                            "sysHdVersion": {
                              "nullable": true
                            },
                            "installProximalsolar": {
                              "type": "integer"
                            },
                            "isThreePhaseInstall": {
                              "type": "integer"
                            },
                            "installPv1Port": {
                              "type": "integer"
                            },
                            "installPv2Port": {
                              "type": "integer"
                            },
                            "offGridFlag": {
                              "type": "integer"
                            },
                            "offGridReason": {
                              "nullable": true
                            },
                            "mpptEnFlag": {
                              "type": "boolean"
                            },
                            "mpanPv1En": {
                              "nullable": true
                            },
                            "mpanPv2En": {
                              "nullable": true
                            },
                            "mpptExportEn": {
                              "nullable": true
                            },
                            "installApboxSolar": {
                              "type": "integer"
                            }
                          }
                        },
                        "currentAlarmVOList": {
                          "type": "array",
                          "items": {}
                        },
                        "valid": {
                          "type": "boolean"
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/tou/getEntranceInfo": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/tou/getEntranceInfo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "sgipEntrance": {
                          "type": "integer"
                        },
                        "bbEntrance": {
                          "type": "integer"
                        },
                        "pcsEntrance": {
                          "type": "integer"
                        },
                        "tariffSettingFlag": {
                          "type": "boolean"
                        },
                        "sdcpFlag": {
                          "type": "boolean"
                        },
                        "solarFlag": {
                          "type": "boolean"
                        },
                        "gridFlag": {
                          "type": "boolean"
                        },
                        "globalGridDischargeMax": {
                          "type": "number",
                          "format": "float"
                        },
                        "globalGridChargeMax": {
                          "type": "number",
                          "format": "float"
                        },
                        "slSettingFlag": {
                          "type": "integer"
                        },
                        "needCtTest": {
                          "type": "boolean"
                        },
                        "gridFeedMaxFlag": {
                          "type": "integer"
                        },
                        "gridMaxFlag": {
                          "type": "integer"
                        },
                        "backupSolution": {
                          "nullable": true
                        },
                        "gridFeedMax": {
                          "nullable": true
                        },
                        "gridMax": {
                          "nullable": true
                        },
                        "peakDemandGridMax": {
                          "nullable": true
                        },
                        "bbDischargePower": {
                          "nullable": true
                        },
                        "bonusEnable": {
                          "nullable": true
                        },
                        "ahubAddressingFlag": {
                          "nullable": true
                        },
                        "chargingPowerLimited": {
                          "type": "boolean"
                        },
                        "ja12Entrance": {
                          "type": "integer"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    },
                    "error": {
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/common/getPageByTypeList": {
      "get": {
        "summary": "Generated GET /hes-gateway/common/getPageByTypeList",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "dictType": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "otherParams": {
                            "nullable": true
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/tou/updateTouModeV2": {
      "post": {
        "summary": "Generated POST /hes-gateway/terminal/tou/updateTouModeV2",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "tariffSettingFlag": {
                          "type": "boolean"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/backupHistorySummary": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/backupHistorySummary",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "longestDuration": {
                          "type": "integer"
                        },
                        "totalBackup": {
                          "type": "integer"
                        },
                        "totalDuration": {
                          "type": "integer"
                        },
                        "lastRecord": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "gatewayId": {
                              "type": "string"
                            },
                            "chargeType": {
                              "type": "integer"
                            },
                            "energy": {
                              "type": "number",
                              "format": "float"
                            },
                            "startSoc": {
                              "type": "integer"
                            },
                            "endSoc": {
                              "type": "integer"
                            },
                            "chargeDate": {
                              "type": "string"
                            },
                            "startTime": {
                              "type": "string"
                            },
                            "endTime": {
                              "type": "string"
                            },
                            "second": {
                              "type": "integer"
                            },
                            "chargeTime": {
                              "nullable": true
                            },
                            "chargeHour": {
                              "nullable": true
                            },
                            "cminute": {
                              "nullable": true
                            },
                            "chour": {
                              "nullable": true
                            },
                            "csecond": {
                              "nullable": true
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-energy/power/getFhpPowerByDay": {
      "get": {
        "summary": "Generated GET /api-energy/power/getFhpPowerByDay",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "socArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "kwhTotalArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "runStatusArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "deviceTimeArray": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "powerSolarHomeArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "powerSolarGirdArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "powerSolarFhpArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "powerGirdFhpArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "powerGirdHomeArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "powerFhpGirdArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "powerFhpHomeArray": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          }
                        },
                        "powerGenFhpArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "powerGenHomeArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "powerV2lFhpArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "powerV2lHomeArray": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/sendMqtt": {
      "post": {
        "summary": "Generated POST /hes-gateway/terminal/sendMqtt",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "cmdType": {
                          "type": "integer"
                        },
                        "equipNo": {
                          "type": "string"
                        },
                        "type": {
                          "type": "integer"
                        },
                        "timeStamp": {
                          "type": "integer"
                        },
                        "snno": {
                          "type": "integer"
                        },
                        "len": {
                          "type": "integer"
                        },
                        "crc": {
                          "type": "string"
                        },
                        "dataArea": {
                          "type": "string"
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cmdType": {
                    "type": "integer"
                  },
                  "equipNo": {
                    "type": "string"
                  },
                  "type": {
                    "type": "integer"
                  },
                  "timeStamp": {
                    "type": "integer"
                  },
                  "snno": {
                    "type": "integer"
                  },
                  "len": {
                    "type": "integer"
                  },
                  "crc": {
                    "type": "string"
                  },
                  "dataArea": {
                    "type": "object",
                    "properties": {
                      "opt": {
                        "type": "integer"
                      },
                      "optType": {
                        "type": "integer"
                      },
                      "paraType": {
                        "type": "integer"
                      },
                      "custom": {
                        "type": "string"
                      },
                      "order": {
                        "type": "string"
                      },
                      "runingMode": {
                        "type": "integer"
                      },
                      "stromEn": {
                        "type": "integer"
                      },
                      "SwMerge": {
                        "type": "integer"
                      },
                      "stopMode": {
                        "type": "integer"
                      },
                      "selfMinSoc": {
                        "type": "integer"
                      },
                      "touMinSoc": {
                        "type": "integer"
                      },
                      "backupMaxSoc": {
                        "type": "integer"
                      },
                      "genStartSoc": {
                        "type": "integer"
                      },
                      "genStopSoc": {
                        "type": "integer"
                      },
                      "Sw1SocLowSet": {
                        "type": "integer"
                      },
                      "Sw1ProLoad": {
                        "type": "integer"
                      },
                      "Sw1Mode": {
                        "type": "integer"
                      },
                      "Sw1AtuoEn": {
                        "type": "integer"
                      },
                      "Sw1Freq": {
                        "type": "integer"
                      },
                      "Sw1TimeEn": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "Sw1Time": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Sw1TimeSet": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "Sw1Name": {
                        "type": "string"
                      },
                      "Sw1MsgType": {
                        "type": "integer"
                      },
                      "Sw2SocLowSet": {
                        "type": "integer"
                      },
                      "Sw2ProLoad": {
                        "type": "integer"
                      },
                      "Sw2Mode": {
                        "type": "integer"
                      },
                      "Sw2AtuoEn": {
                        "type": "integer"
                      },
                      "Sw2Freq": {
                        "type": "integer"
                      },
                      "Sw2TimeEn": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "Sw2Time": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Sw2TimeSet": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "Sw2Name": {
                        "type": "string"
                      },
                      "Sw2MsgType": {
                        "type": "integer"
                      },
                      "Sw3SocLowSet": {
                        "type": "integer"
                      },
                      "Sw3ProLoad": {
                        "type": "integer"
                      },
                      "Sw3Mode": {
                        "type": "integer"
                      },
                      "Sw3AtuoEn": {
                        "type": "integer"
                      },
                      "Sw3Freq": {
                        "type": "integer"
                      },
                      "Sw3TimeEn": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "Sw3Time": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "Sw3TimeSet": {
                        "type": "array",
                        "items": {
                          "type": "integer"
                        }
                      },
                      "Sw3Name": {
                        "type": "string"
                      },
                      "Sw3MsgType": {
                        "type": "integer"
                      },
                      "genStat": {
                        "type": "integer"
                      },
                      "gridVoltCheck": {
                        "type": "integer"
                      },
                      "CarSwConsSupEnable": {
                        "type": "integer"
                      },
                      "CarSwConsSupEnerge": {
                        "type": "integer"
                      },
                      "CarSwConsSupStartTime": {
                        "type": "string"
                      },
                      "wifi_ScanTime": {
                        "type": "integer"
                      },
                      "refreshData": {
                        "type": "integer"
                      },
                      "wifi_SSID": {
                        "type": "string"
                      },
                      "wifi_Pw": {
                        "type": "string"
                      },
                      "ap_SSID": {
                        "type": "string"
                      },
                      "ap_Pw": {
                        "type": "string"
                      },
                      "type": {
                        "type": "integer"
                      },
                      "fhpSn": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hes-gateway/terminal/tou/getTouDispatchDetail": {
      "get": {
        "summary": "Generated GET /hes-gateway/terminal/tou/getTouDispatchDetail",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "template": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "gatewayId": {
                              "type": "string"
                            },
                            "templateId": {
                              "type": "integer"
                            },
                            "templateFromType": {
                              "type": "integer"
                            },
                            "electricCompany": {
                              "type": "string"
[...]
